.calendar-event-in {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: #555555;
}

.calendar-event-in:hover {
    color: #555555;
    background-color: #FCF8E3;
    cursor: pointer;
}

.calendar-event-out {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: #555555;
}

.calendar-event-summary{
    cursor: pointer;
}
.calendar-event-out:hover {
    color: #555555;
    background-color: #FCF8E3;
    cursor: pointer;
}

.detail .amount {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.summary .amount {
    float: right;
}

.fc-event .time {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: right;
    color: #999999;
    font-weight: 500;
}

.fc-event .subcategory {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50%;
    display: inline-block;
}

.bulletin-point-expense {
    font-size: 0.7em;
    padding-right: 5px;
    color: rgb(229, 53, 91);
}

.bulletin-point-income {
    font-size: 0.7em;
    padding-right: 5px;
    color: #76D846
}

