/*customize fullcalendar style*/
.fc-event {
  border-color: #1badf8;
}


.calendar-selected-date{
  background-color: #fcf8e3;
}

.calendar-unselected-date{
  background-color: transparent;
}

.calendar-event-in {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  color: #555555;
}

.calendar-event-in:hover {
  color: #555555;
  background-color: #FCF8E3;
  cursor: pointer;
}

.calendar-event-out {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  color: #555555;
}

.calendar-event-summary-in {
  cursor: pointer;
  color: #14731c;
  font-size: larger;
  .amount {
    float: right;
  }
  border: none;
  background-color: transparent;
  border-radius: 0px;
  font-size: 0.9em;
}

.calendar-event-summary-in:hover,.calendar-event-summary-out:hover {
  background-color: #FCF8E3;
  color: inherit;
}

.calendar-event-summary-out {
  cursor: pointer;
  color: #b0204f;
  font-size: 0.9em;
  .amount {
    float: right;
  }
  border: none;
  background-color: transparent;
  border-radius: 0px;
}


.calendar-event-out:hover {
  color: #555555;
  background-color: #FCF8E3;
  cursor: pointer;
}

.calendar-event-day-categories {
  color: #268ab0;
  float: left;
  margin: 0;
}

.calendar-event-day-account {
  color: #808000;
  float: right;
  margin: 0;
}

.calendar-event-day-time {
  float: right;
  margin: 0;
  color: #777777;
}

.calendar-event-day-footer {
  margin-bottom: 6px;
}

@mixin calendar-event-day-amount {
  float: left;
  margin: 0;
  font-size: x-large;
}

.calendar-event-day-amount-in {
  @include calendar-event-day-amount;
  color: #3cdc8d;
}

.calendar-event-day-amount-out {
  @include calendar-event-day-amount;
  color: #ea412e;
}

.calendar-event-day-remark {
  margin: 1em 0;
}

.calendar-event-day-project {
  float: left;
  margin: 0;
  color: #c88000;
}

.calendar-event-day-payee {
  float: right;
  margin: 0;
  color: #c66400;
}

.detail .detail-icon {
  display: inline-block;
  overflow: hidden;
}

.detail .amount {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: right;
  max-width: 22%;
  line-height: 15px;
}

.fc-event .time {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  color: #999999;
  font-weight: 500;
}

.fc-event .subcategory {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 45%;
  line-height: 15px;
}

.bulletin-point-expense {
  font-size: 0.7em;
  padding-right: 5px;
  color: rgb(229, 53, 91);
}

.bulletin-point-income {
  font-size: 0.7em;
  padding-right: 5px;
  color: #76D846;
}

/* week view styles*/
@mixin week-view-event-container {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin-top: 1px;
}

@mixin week-view-event-content {
  padding-left: 3px;
  font-size: .85em;
}


.food {
    @include week-view-event-container;
    background-color: rgb(253, 209, 221);
    .content {
      @include week-view-event-content;
      border-left: 2px solid rgb(249, 113, 154);
      color: #b0204f;
    }

}

.clothing-and-housing {

    @include week-view-event-container;
    background-color: rgb(210, 239, 254);
    .content {
      @include week-view-event-content;
      border-left: 2px solid rgb(114, 196, 234);
      color: #166b9a;
    }

}

.traffic {

    @include week-view-event-container;
    background-color: rgb(254, 233, 213);
    .content {
      @include week-view-event-content;
      border-left: 2px solid rgb(248, 186, 132);
      color: #ca4b18;
    }

}

.recreation {

    @include week-view-event-container;
    background-color: rgb(246, 228, 249);
    .content {
      @include week-view-event-content;
      border-left: 2px solid rgb(225, 176, 233);
      color: #76447d;
    }

}

.default {
    @include week-view-event-container;
    background-color: rgb(223, 246, 215);
    .content {
      @include week-view-event-content;
      border-left: 2px solid rgb(135, 221, 110);
      color: #14731c;
    }
}

/* day view timeline styles*/

#timeline {
  position: relative;
  padding: 2em 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 100%;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  color: #7f8c97;
  background-color: #f5f5f5;
}

#timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  height: 100%;
  width: 4px;
  background: #dddddd;
}

@media only screen and (min-width: 1170px) {
  #timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-block {
  position: relative;
  margin: 2em 0;
}

.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 4em 0;
  }
  .timeline-block:first-child {
    margin-top: 0;
  }
  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

.timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: #f5f5f5;
}

.timeline-img img {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

@media only screen and (min-width: 1170px) {
  .timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 0em;
  box-shadow: 0 3px 0 #dddddd;
}

.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content {
  color: #777777;
}

.timeline-content p, .timeline-content .cd-read-more, .timeline-content .cd-date {
  font-size: 20px;
  font-size: 0.8125rem;
}

.timeline-content .cd-read-more, .timeline-content .cd-date {
  display: inline-block;
}

.timeline-content p {
  line-height: 1.6;
}

.timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.no-touch .timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}

.timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
  .timeline-content h2 {
    font-size: 20px;
    font-size: 2rem;
  }
  .timeline-content p {
    font-size: 16px;
    font-size: 1.5rem;
  }
  .timeline-content .cd-read-more, .timeline-content .cd-date {
    font-size: 14px;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    padding: 0em;
    width: 42%;
  }
  .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .timeline-content .cd-read-more {
    float: left;
  }
  .timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .timeline-block:nth-child(even) .timeline-content .cd-read-more {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

.timeline-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.timeline-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

