.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'
  
  .col-sm-9
    .panel.panel-info
      .panel-heading
        %h3.panel-title 總預算
      .panel-body
        .progress.col-sm-3
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
            %span.sr-only 60% Complete
        %span.left.total_money.text-info 2045371.00
        %span.total_balance.left.cutlong
          %span 余额:
          %span.total_balance_money.text-danger -3456214.00
        %input#setTotalBudget.btn1.left{:type => "button", :value => "设置"}
          %input#getBudgetId.btn2.left{:type => "button", :value => "清空"}

    .panel.panel-success
      .panel-heading
        %h3.panel-title 子預算
      .panel-body
        .child-budget.clearfix
          .col-sm-1
            食
          .progress.col-sm-3
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
              %span.sr-only 60% Complete
          .col-sm-8
            %span.left.total_money.text-info 2045371.00
            %span.total_balance.left.cutlong
              %span 余额:
              %span.total_balance_money.text-danger -3456214.00
            %input#setTotalBudget.btn1.left{:type => "button", :value => "设置"}
              %input#getBudgetId.btn2.left{:type => "button", :value => "清空"}
        .child-budget.clearfix
          .col-sm-1
            食
          .progress.col-sm-3
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
              %span.sr-only 60% Complete
          .col-sm-8
            %span.left.total_money.text-info 2045371.00
            %span.total_balance.left.cutlong
              %span 余额:
              %span.total_balance_money.text-danger -3456214.00
            %input#setTotalBudget.btn1.left{:type => "button", :value => "设置"}
              %input#getBudgetId.btn2.left{:type => "button", :value => "清空"}
        .child-budget.clearfix
          .col-sm-1
            食
          .progress.col-sm-3
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
              %span.sr-only 60% Complete
          .col-sm-8
            %span.left.total_money.text-info 2045371.00
            %span.total_balance.left.cutlong
              %span 余额:
              %span.total_balance_money.text-danger -3456214.00
            %input#setTotalBudget.btn1.left{:type => "button", :value => "设置"}
              %input#getBudgetId.btn2.left{:type => "button", :value => "清空"}
    

  