#sidebar.col-xs-6.col-sm-2.sidebar-offcanvas{:role => "navigation"}
  .row
    / = link_to "財務概況", home_path, class: "list-group-item"
    = link_to "明細", records_path, class: "list-group-item"
    / = link_to "帳戶管理", payments_path, class: "list-group-item"
    / = link_to "商家管理", "", class: "list-group-item"
    / = link_to "專案管理", "", class: "list-group-item"
    / = link_to "報表", reports_path, class: "list-group-item"
    / = link_to "帳戶", accounts_path, class: "list-group-item"
    / = link_to "預算", budgets_path, class: "list-group-item"  