.jumbotron
  .container
    %h1
      理財幫手 AndroMoney
    %p
      %br
      AndroMoney 是行動電話上的個人理財服務工具，
      %br
      希望透過這個工具，可以良好的管理個人的財富。
      %br
      %br
      我們軟體的發展方展方向是：
      %br
      %span.text-success
        1.簡單易用，在操作上是十分直覺的
      %br
      %span.text-success
        2.功能強大，不論單純的記帳，或者想要管理不同的帳戶、類別，甚至是繪成圖表，也都可以輕易的辦到。
      %br
      %br
      將來我們會陸續地加入其它功能，使其更為完整
      %br
      如同軟體的名稱，我們期許AndroMoney 會是 Android 上，此類軟體的佼佼者
      %br
      如果有任何使用上的問題，十分歡迎利用 email 跟我們連絡，謝謝！

    聯絡信箱:
    = mail_to "service@andromoney.com", "service@andromoney.com"