.row.plans.text-center
  .col-md-2.col-md-offset-3
    .normal-plan
      %h5.plan-name 手機用
      %h1.plan-price $ 9
      %span.muted per month
      %ul.list-unstyled.plan-features
        %li 5 GB Disk Space
        %li 3 Subdomains
        %li 10 MySQL Databases
        %li Unlimited Bandwidth
        %li Email Support
      %a.btn.btn-block.btn-large.btn-success{:href => "#"} Choose Plan
  .col-md-2.preferred-plan
    %h5.plan-name Premium
    %h1.plan-price $49
    %span.muted per month
    %ul.list-unstyled.plan-features
      %li 50 GB Disk Space
      %li 50 Subdomains
      %li 100 MySQL Databases
      %li Unlimited Bandwidth
      %li Chat Support
    %a.btn.btn-block.btn-large.btn-success{:href => "#"} Choose Plan
  .col-md-2
    .normal-plan
      %h5.plan-name Enterprise
      %h1.plan-price $99
      %span.muted per month
      %ul.list-unstyled.plan-features
        %li 250 GB Disk Space
        %li 1000 Subdomains
        %li 1000 MySQL Databases
        %li Unlimited Bandwidth
        %li Phone Support
      %a.btn.btn-block.btn-large.btn-success{:href => "#"} Choose Plan