- subcategories.each_with_index do |category_group, i|
  %tr
    - category_group.each_with_index do |category,j|
      - if(defined?(record) && category.hash_key == record.subcategory)
        %td{data: {subcategory_id: category.hash_key, category_name: category.subcategory}, class: "warning"}
          .category
            = category.subcategory
      - elsif(i==0 && j==0 && !defined?(record))
        %td{data: {subcategory_id: category.hash_key, category_name: category.subcategory}, class: "warning"}
          .category
            = category.subcategory
      - else
        %td{data: {subcategory_id: category.hash_key, category_name: category.subcategory}}
          .category
            = category.subcategory
    - (1..3-category_group.size).each do |i|
      %td