.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .col-xs-12.col-sm-10
    .row
      .record-edit-tab
        = render_tab(@record)

    .row
      .recordForm.clearfix
        = render 'form_record'

:javascript
  $(function () {
    $('#datetimepicker_report').datetimepicker({
      format: 'YYYY/MM/DD-HH:mm A'
    });
  });