.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .col-xs-12.col-sm-10
    .row.verify-record-form{"data-token" => "true"}
      .record-edit-tab
        = render_tab(@record)

    .row
      = render 'spinner'
      .recordForm.clearfix
        = render 'form_record'