.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .col-xs-12.col-sm-9
    %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#all"} 全部
      %li
        %a{"data-toggle" => "tab", :href => "#expand"} 支出
      %li
        %a{"data-toggle" => "tab", :href => "#orange"} 收入
      %li
        %a{"data-toggle" => "tab", :href => "#yellow"} 轉帳
      %li
        %a{"data-toggle" => "tab", :href => "#green"} 借貸

    #my-tab-content.tab-content
      #all.tab-pane.active
        = render "picker"
        %table.table.table-striped
          %thead
            %tr
              %th 
              %th 時間
              %th 金額
              %th 類別
          %tbody
            %tr
              %td 1
              %td 2013/12/23
              %td.text-danger NT$ 100
              %td 食
            %tr
              %td 2
              %td 2013/12/23
              %td.text-danger NT$ 50
              %td 衣
            %tr
              %td 3
              %td 2013/12/23
              %td.text-danger NT$ 3999
              %td 住
      #expand.tab-pane
        = render "picker"
        帳戶: 支出
        %br
        時間: 2013/12/23 ~ 2013/12/23
        %table.table.table-striped
          %thead
            %tr
              %th 
              %th 時間
              %th 金額
              %th 類別
          %tbody
            %tr
              %td 1
              %td 2013/12/23
              %td.text-danger NT$ 100
              %td 食
            %tr
              %td 2
              %td 2013/12/23
              %td.text-danger NT$ 50
              %td 衣
            %tr
              %td 3
              %td 2013/12/23
              %td.text-danger NT$ 3999
              %td 住

  :javascript
    $(document).ready(function(){
      $('[data-behaviour~=datepicker]').datepicker();
    })