.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .col-xs-12.col-sm-9
    %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#red"} 支出
      %li
        %a{"data-toggle" => "tab", :href => "#orange"} 收入
      %li
        %a{"data-toggle" => "tab", :href => "#yellow"} 轉帳
      %li
        %a{"data-toggle" => "tab", :href => "#green"} 借貸

    #my-tab-content.tab-content
      #red.tab-pane.active
        %form.form-horizontal{:role => "form"}
          .form-group
            %label.col-sm-2.control-label{:for => "inputEmail3"} 金額
            .col-sm-10
              %input#inputEmail3.form-control{:type => "email"}
          .form-group
            %label.col-sm-2.control-label{:for => "inputPassword3"} 類別
            .col-sm-10
              %input#inputPassword3.form-control{ :type => "password"}
          .form-group
            .col-sm-offset-2.col-sm-10
              %button.btn.btn-default{:type => "submit"} 記一筆
              
      #orange.tab-pane
        %h1 Orange
        %p orange orange orange orange orange
      #yellow.tab-pane
        %h1 Yellow
        %p yellow yellow yellow yellow yellow
      #green.tab-pane
        %h1 Green
        %p green green green green green