!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      感謝使用 Andromoney 的服務
    %p
      ="#{@owner_user.email} 分享給 #{@share_user.email} 的 @payment.payment_name 帳戶資料已取消"