!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = @share_user.email 
      歡迎使用 Andromoney 的服務
    %p
      = @owner_user.email
      想分享#{@payment.payment_name}帳戶資料給你
      %br/
    %p
      若想接受分享，請點以下的連結，謝謝！
      = link_to "確認分享", confirm_share_api_v1_sync_index_url(token: @relation.token)