.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

.table thead th {
  background: #6dba89;
  color: #fff;
  text-transform: uppercase;
  border: 0 !important;
}

#data-setting h3 {
  color: #6dba89;
  padding: 0px 0px 10px 0px;
}

.option-head {
  font-size: 18px;
  padding: 10px 0px 0px 0px;
}

tbody.setting_table tr td {
  width: 50%;
}

.reset_account_confirm {
  font-size: 18px;
}