.flag_algeria, .flag_america, .flag_argentina, .flag_australia, .flag_bahrain, 
.flag_bangladesh, .flag_belarus, .flag_bolivia, .flag_bosnia, .flag_botswana, 
.flag_brazil, .flag_britain, .flag_brunei, .flag_bulgaria, .flag_burma, 
.flag_cambodia, .flag_canada, .flag_cayman_islands, .flag_chile, .flag_china, 
.flag_colombia, .flag_costa_rica, .flag_croatia, .flag_czech, .flag_denmark, 
.flag_dominica, .flag_egypt, .flag_el_salvador, .flag_estonia, .flag_europe, 
.flag_fiji, .flag_georgia, .flag_germany, .flag_ghana, .flag_guatemala, 
.flag_honduras, .flag_hong_kong, .flag_hungary, .flag_india, .flag_indonesia, 
.flag_iran, .flag_israel, .flag_italy, .flag_jamaica, .flag_japan, 
.flag_jordan, .flag_kazakhstan, .flag_kuwait, .flag_latvia, .flag_lebanon, 
.flag_lithuania, .flag_macau, .flag_macedonia, .flag_malaysia, .flag_maldives, 
.flag_mauritius, .flag_mexico, .flag_moldova, .flag_mongolia, .flag_morocco, 
.flag_namibia, .flag_nepal, .flag_netherlands, .flag_new_zealand, .flag_nicaragua, 
.flag_nigeria, .flag_norway, .flag_oman, .flag_pakistan, .flag_papua_new_guinea, 
.flag_paraguay, .flag_peru, .flag_philippines, .flag_poland, .flag_qatar, 
.flag_romania, .flag_russia, .flag_saudi_arabia, .flag_serbia_yugoslavia_, .flag_seychelles, 
.flag_sierra_leone, .flag_singapore, .flag_slovakia, .flag_south_africa, .flag_south_korea, 
.flag_spain, .flag_sri_lanka, .flag_sweden, .flag_switzerland, .flag_taiwan, 
.flag_tajikistan, .flag_tanzania, .flag_thailand, .flag_togo, .flag_trinidad___tobago, 
.flag_tunisia, .flag_turkey, .flag_uae, .flag_uganda, .flag_ukraine, 
.flag_uruguay, .flag_uzbekistan, .flag_venezuela, .flag_viet_nam, .flag_yemen, 
.flag_zambia, .flag_armenia, .flag_azerbaijan, .flag_barbados, .flag_bitcoin, 
.flag_iceland, .flag_iraq, .flag_kenya, .flag_litecoin, .flag_world
{ display: inline-block; background: image-url("flags.png") no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.flag_algeria { background-position: -0px -0px; width: 48px; height: 48px; }
.flag_america { background-position: -48px -0px; width: 48px; height: 48px; }
.flag_argentina { background-position: -96px -0px; width: 48px; height: 48px; }
.flag_australia { background-position: -144px -0px; width: 48px; height: 48px; }
.flag_bahrain { background-position: -192px -0px; width: 48px; height: 48px; }
.flag_bangladesh { background-position: -240px -0px; width: 48px; height: 48px; }
.flag_belarus { background-position: -288px -0px; width: 48px; height: 48px; }
.flag_bolivia { background-position: -336px -0px; width: 48px; height: 48px; }
.flag_bosnia { background-position: -384px -0px; width: 48px; height: 48px; }
.flag_botswana { background-position: -432px -0px; width: 48px; height: 48px; }
.flag_brazil { background-position: -0px -48px; width: 48px; height: 48px; }
.flag_britain { background-position: -48px -48px; width: 48px; height: 48px; }
.flag_brunei { background-position: -96px -48px; width: 48px; height: 48px; }
.flag_bulgaria { background-position: -144px -48px; width: 48px; height: 48px; }
.flag_burma { background-position: -192px -48px; width: 48px; height: 48px; }
.flag_cambodia { background-position: -240px -48px; width: 48px; height: 48px; }
.flag_canada { background-position: -288px -48px; width: 48px; height: 48px; }
.flag_cayman_islands { background-position: -336px -48px; width: 48px; height: 48px; }
.flag_chile { background-position: -384px -48px; width: 48px; height: 48px; }
.flag_china { background-position: -432px -48px; width: 48px; height: 48px; }
.flag_colombia { background-position: -0px -96px; width: 48px; height: 48px; }
.flag_costa_rica { background-position: -48px -96px; width: 48px; height: 48px; }
.flag_croatia { background-position: -96px -96px; width: 48px; height: 48px; }
.flag_czech { background-position: -144px -96px; width: 48px; height: 48px; }
.flag_denmark { background-position: -192px -96px; width: 48px; height: 48px; }
.flag_dominica { background-position: -240px -96px; width: 48px; height: 48px; }
.flag_egypt { background-position: -288px -96px; width: 48px; height: 48px; }
.flag_el_salvador { background-position: -336px -96px; width: 48px; height: 48px; }
.flag_estonia { background-position: -384px -96px; width: 48px; height: 48px; }
.flag_europe { background-position: -432px -96px; width: 48px; height: 48px; }
.flag_fiji { background-position: -0px -144px; width: 48px; height: 48px; }
.flag_georgia { background-position: -48px -144px; width: 48px; height: 48px; }
.flag_germany { background-position: -96px -144px; width: 48px; height: 48px; }
.flag_ghana { background-position: -144px -144px; width: 48px; height: 48px; }
.flag_guatemala { background-position: -192px -144px; width: 48px; height: 48px; }
.flag_honduras { background-position: -240px -144px; width: 48px; height: 48px; }
.flag_hong_kong { background-position: -288px -144px; width: 48px; height: 48px; }
.flag_hungary { background-position: -336px -144px; width: 48px; height: 48px; }
.flag_india { background-position: -384px -144px; width: 48px; height: 48px; }
.flag_indonesia { background-position: -432px -144px; width: 48px; height: 48px; }
.flag_iran { background-position: -0px -192px; width: 48px; height: 48px; }
.flag_israel { background-position: -48px -192px; width: 48px; height: 48px; }
.flag_italy { background-position: -96px -192px; width: 48px; height: 48px; }
.flag_jamaica { background-position: -144px -192px; width: 48px; height: 48px; }
.flag_japan { background-position: -192px -192px; width: 48px; height: 48px; }
.flag_jordan { background-position: -240px -192px; width: 48px; height: 48px; }
.flag_kazakhstan { background-position: -288px -192px; width: 48px; height: 48px; }
.flag_kuwait { background-position: -336px -192px; width: 48px; height: 48px; }
.flag_latvia { background-position: -384px -192px; width: 48px; height: 48px; }
.flag_lebanon { background-position: -432px -192px; width: 48px; height: 48px; }
.flag_lithuania { background-position: -0px -240px; width: 48px; height: 48px; }
.flag_macau { background-position: -48px -240px; width: 48px; height: 48px; }
.flag_macedonia { background-position: -96px -240px; width: 48px; height: 48px; }
.flag_malaysia { background-position: -144px -240px; width: 48px; height: 48px; }
.flag_maldives { background-position: -192px -240px; width: 48px; height: 48px; }
.flag_mauritius { background-position: -240px -240px; width: 48px; height: 48px; }
.flag_mexico { background-position: -288px -240px; width: 48px; height: 48px; }
.flag_moldova { background-position: -336px -240px; width: 48px; height: 48px; }
.flag_mongolia { background-position: -384px -240px; width: 48px; height: 48px; }
.flag_morocco { background-position: -432px -240px; width: 48px; height: 48px; }
.flag_namibia { background-position: -0px -288px; width: 48px; height: 48px; }
.flag_nepal { background-position: -48px -288px; width: 48px; height: 48px; }
.flag_netherlands { background-position: -96px -288px; width: 48px; height: 48px; }
.flag_new_zealand { background-position: -144px -288px; width: 48px; height: 48px; }
.flag_nicaragua { background-position: -192px -288px; width: 48px; height: 48px; }
.flag_nigeria { background-position: -240px -288px; width: 48px; height: 48px; }
.flag_norway { background-position: -288px -288px; width: 48px; height: 48px; }
.flag_oman { background-position: -336px -288px; width: 48px; height: 48px; }
.flag_pakistan { background-position: -384px -288px; width: 48px; height: 48px; }
.flag_papua_new_guinea { background-position: -432px -288px; width: 48px; height: 48px; }
.flag_paraguay { background-position: -0px -336px; width: 48px; height: 48px; }
.flag_peru { background-position: -48px -336px; width: 48px; height: 48px; }
.flag_philippines { background-position: -96px -336px; width: 48px; height: 48px; }
.flag_poland { background-position: -144px -336px; width: 48px; height: 48px; }
.flag_qatar { background-position: -192px -336px; width: 48px; height: 48px; }
.flag_romania { background-position: -240px -336px; width: 48px; height: 48px; }
.flag_russia { background-position: -288px -336px; width: 48px; height: 48px; }
.flag_saudi_arabia { background-position: -336px -336px; width: 48px; height: 48px; }
.flag_serbia_yugoslavia_ { background-position: -384px -336px; width: 48px; height: 48px; }
.flag_seychelles { background-position: -432px -336px; width: 48px; height: 48px; }
.flag_sierra_leone { background-position: -0px -384px; width: 48px; height: 48px; }
.flag_singapore { background-position: -48px -384px; width: 48px; height: 48px; }
.flag_slovakia { background-position: -96px -384px; width: 48px; height: 48px; }
.flag_south_africa { background-position: -144px -384px; width: 48px; height: 48px; }
.flag_south_korea { background-position: -192px -384px; width: 48px; height: 48px; }
.flag_spain { background-position: -240px -384px; width: 48px; height: 48px; }
.flag_sri_lanka { background-position: -288px -384px; width: 48px; height: 48px; }
.flag_sweden { background-position: -336px -384px; width: 48px; height: 48px; }
.flag_switzerland { background-position: -384px -384px; width: 48px; height: 48px; }
.flag_taiwan { background-position: -432px -384px; width: 48px; height: 48px; }
.flag_tajikistan { background-position: -0px -432px; width: 48px; height: 48px; }
.flag_tanzania { background-position: -48px -432px; width: 48px; height: 48px; }
.flag_thailand { background-position: -96px -432px; width: 48px; height: 48px; }
.flag_togo { background-position: -144px -432px; width: 48px; height: 48px; }
.flag_trinidad___tobago { background-position: -192px -432px; width: 48px; height: 48px; }
.flag_tunisia { background-position: -240px -432px; width: 48px; height: 48px; }
.flag_turkey { background-position: -288px -432px; width: 48px; height: 48px; }
.flag_uae { background-position: -336px -432px; width: 48px; height: 48px; }
.flag_uganda { background-position: -384px -432px; width: 48px; height: 47px; }
.flag_ukraine { background-position: -432px -432px; width: 48px; height: 48px; }
.flag_uruguay { background-position: -384px -479px; width: 48px; height: 48px; }
.flag_uzbekistan { background-position: -0px -480px; width: 48px; height: 48px; }
.flag_venezuela { background-position: -432px -480px; width: 48px; height: 48px; }
.flag_viet_nam { background-position: -48px -480px; width: 48px; height: 48px; }
.flag_yemen { background-position: -96px -480px; width: 48px; height: 48px; }
.flag_zambia { background-position: -144px -480px; width: 48px; height: 48px; }
.flag_armenia { background-position: -192px -480px; width: 48px; height: 48px; }
.flag_azerbaijan { background-position: -240px -480px; width: 48px; height: 48px; }
.flag_barbados { background-position: -288px -480px; width: 48px; height: 48px; }
.flag_bitcoin { background-position: -336px -480px; width: 48px; height: 48px; }
.flag_iceland { background-position: -384px -527px; width: 48px; height: 48px; }
.flag_iraq { background-position: -0px -528px; width: 48px; height: 48px; }
.flag_kenya { background-position: -432px -528px; width: 48px; height: 48px; }
.flag_litecoin { background-position: -48px -528px; width: 48px; height: 48px; }
.flag_world { background-position: -96px -528px; width: 48px; height: 48px; }