
.plans.row{
  padding: 40px 0 30px 0;
  background: rgb(219, 214, 214);
}

.plans .plan-features {
  margin-top: 50px;
  margin-bottom: 30px;
}

.plans>div.preferred-plan {
  z-index: 100;
  position: relative;
  margin: 0 5px 0 5px;
  padding: 20px 5px 30px 5px;
  -webkit-box-shadow: #aaa 2px 1px 5px,#aaa -2px 1px 5px;
  -moz-box-shadow: #aaa 2px 1px 5px,#aaa -2px 1px 5px;
  box-shadow: #aaa 2px 1px 5px,#aaa -2px 1px 5px;
}

.normal-plan {
  margin: 20px 5px 0 5px;
  position: relative;
}

.plans>div {
  padding: 15px;
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}