- subcategories.each do |subcategory|
  %tr.success#subcategory
    %td #{category.category}/子類別
    %td= subcategory.subcategory
    %td
    %td
      %button.btn.btn-xs.btn-success.btn-edit
        = link_to "" do
          %span.glyphicon.glyphicon-pencil
          修改
      %button.btn.btn-xs.btn-danger.btn-remove
        = link_to "", method: :delete, data: { confirm: 'Are you sure?' } do
          %span.glyphicon.glyphicon-remove