.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .row
    .col-xs-12.col-sm-10
      .panel.panel-info
        .panel-heading
          %h3.panel-title 帳戶總覽
        .panel-body
          .col-sm-3
            .content_chart1
              %p 
                %table.statTable
                  %tbody
                    %tr
                      %td 總資產
                      %td
                        %span#info_today.redMoney.cutlong ￥50.00
                    %tr
                      %td 總負債
                      %td
                        %span#info_month.redMoney.cutlong ￥1550.00
                    %tr
                      %td 結餘
                      %td
                        %span#info_year.redMoney.cutlong ￥11639218.00
      .row
        .module-content.table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th 帳戶
                %th 初始金額
                %th 收入
                %th 支出
                %th 帳戶結餘
                %th
            %tbody
              %tr
                %td 類別
                %td 金額
                %td 日期
                %td 帳戶
                %td 專案
                %td
                  %button.btn.btn-xs.btn-success.btn-edit
                    = link_to "" do
                      %span.glyphicon.glyphicon-pencil
                      修改
                  %button.btn.btn-xs.btn-danger.btn-remove
                    = link_to "", method: :delete, data: { confirm: 'Are you sure?' } do
                      %span.glyphicon.glyphicon-remove

          
